* {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 1;
}

body {
   background: url(https://wallpaperaccess.com/full/896979.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

#cities-title {
   text-decoration: underline;
   position: relative;
   left: 3rem;
   color: rgb(37, 78, 113);
}

#or {
   position: relative;
   left: 8rem;
   color: aliceblue;
}

#large-wrapper {
   display: flex;
   margin: 20px;
}

.btn {
   margin-left: 100px;
}

.list-wrapper {
   margin-right: 30px;
}

.list-group-item {
   width: 250px;
}


.card {
   margin: 5px;
}